* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body { padding: 20px; }

a {
    color: blue;
    text-decoration: none;
}

header {
    font-size: 64px;
    margin-bottom: 1em;
}

header a {
    color: transparent;
    text-decoration: none;
    /* width: 111px;
    height: 101px;
    background: url(/assets/title.svg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat !important; */
}

h1, h2, p, li, hr { font-size: 20px; font-weight: normal; margin-bottom: 1em; }

h1 { font-size: 30px; margin-top: 1.5em; }
h1:first-child { margin-top: 0; }
h2 { font-weight: bold; margin-bottom: .2em; }
hr { border: 0; border-top: 1px solid #000; outline: 0; }

p:last-child { margin-bottom: 0; }

ul, ol { list-style-position: outside; padding-left:20px; }

.current { background-color: #f1f1f1; fill: red; }

nav {
    display: inline-block;
    float: left;
    margin: 0 20px 0 0;
    font-size: 20px;
}

nav a {
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    background: #fff;
}

nav a:nth-child(1) {
    border: 1px solid #000;
    width: 125px;
    height: 88px;
    display: block;
    margin-left: 25px;
}

nav a:nth-child(2) {
    /* border: 1px solid #000; */
    width: 180px;
    height: 147px;
    display: block;
    background: url(/assets/building.svg) no-repeat;
    background-repeat: no-repeat !important;
}

nav a:nth-child(3) {
    border: 1px solid #000;
    width: 180px;
    height: 150px;
    margin-left: 35px;
    display: block;
}

nav a:nth-child(4) {
    border: 1px solid #000;
    width: 220px;
    height: 130px;
    display: block;
}

.content {
    display: inline-block;
    margin-bottom: 4em;
}

section {
    padding: 10px;
    border: 1px solid #000;
    max-width: 600px;
    display: block;
    /* margin: 1em 0 1em; */
    background-color: #fff;
}

#bug {
    -webkit-animation: rotating 600s linear infinite;
    width: 400px;
    height: 400px;
    background: url(/assets/nmu-button.svg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat !important;
    bottom: 7vh;
    right: 7vh;
    z-index: -1;
    position: absolute;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}

@media (max-width: 576px) {
    section {
        font-size: 80%;
    }
}

@media (max-width: 896px) {
    section {
        max-width: 400px;
    }
}