* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body { padding: 20px; }

a {
    color: blue;
    text-decoration: none;
}

header {
    font-size: 64px;
    margin-bottom: 0.5em;
    width: 100%;
}

header::after {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 26px;
    left: 476px;
}

header a {
    color: #000;
}

h1, h2, p, li, hr { font-size: 20px; font-weight: normal; margin-bottom: 1em; }

h1 { font-size: 30px; margin-top: 1.5em; }
h1:first-child { margin-top: 0; }
h2 { font-weight: bold; margin-bottom: .2em; }
hr { border: 0; border-top: 1px solid #000; outline: 0; }

p:last-child { margin-bottom: 0; }

ul, ol { list-style-position: outside; padding-left:20px; }

.current { background-color: #f1f1f1; }

.current::before {
    background-color: #0000ff;
    border: 1px solid #0000ff !important;
}

nav {
    display: inline-block;
    float: left;
    margin: 0 20px 0 0;
    font-size: 20px;
}

nav a {
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    background: #fff;
}

nav a:nth-child(1) {
    border: 1px solid #000;
    width: 125px;
    height: 88px;
    display: block;
    margin-left: 25px;
}

nav a:nth-child(2) {
    border: 1px solid #000;
    width: 180px;
    height: 147px;
    display: block;
    position: relative;
}

nav a:nth-child(2)::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    margin: -1px -1px 0 0;
    background: #fff;
    width: 30px;
    height: 70px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #000;
}

nav a:nth-child(3) {
    border: 1px solid #000;
    width: 180px;
    height: 150px;
    margin-left: 35px;
    display: block;
}

nav a:nth-child(4) {
    border: 1px solid #000;
    width: 220px;
    height: 130px;
    display: block;
}

nav a:nth-child(n+5) {
    /* border: 1px solid #000;
    width: 220px;
    height: 130px; */
    display: block;
    margin-bottom: 0;
    background: transparent !important;
}

nav a:nth-child(n+5)::before {
    content: "";
    border: 1px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -3px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.content {
    display: inline-block;
    margin-bottom: 4em;
}

section {
    padding: 10px;
    border: 1px solid #000;
    max-width: 600px;
    width: 600px;
    display: block;
    /* margin: 1em 0 1em; */
    background-color: #fff;
}

#bug {
    -webkit-animation: rotating 600s linear infinite;
    width: 400px;
    height: 400px;
    background: url(/assets/nmu-button.svg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat !important;
    bottom: 7vh;
    right: 7vh;
    z-index: -1;
    position: fixed;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}

/* Break points */

@media (max-width: 896px) {
    section {
        max-width: 400px;
    }
}

@media (max-width: 680px) {

    nav {
        width: 100%;
    }
    nav a {
        margin: 0 !important;
        margin-right: 10px !important;
        margin-bottoM: 10px !important;
        display: inline-block !important;
        width: auto !important;
        height: auto !important;
        /* border: 1px solid #000; */
    }
    nav a:nth-child(n+5)::before {
        width: 10px;
        height: 10px;
    }
    nav a:nth-child(2)::after {
        display: none;
    }
    #bug {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 576px) {
    section {
        width: 100%;
        font-size: 80%;
    }
    
}

/* Break points for header "blue dot" */

@media (max-width: 576px) {
    header::after {
        left: 99px;
        top: 100px;
    }
    section {
        font-size: 80%;
    }
}

@media (max-width: 400px) {
    header::after {
        left: 99px;
        top: 175px;
    }
}